kofam_ref_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/kofam
ncbi_ref_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/NCBI
nog_ref_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/NOG
pfam_ref_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/pfam
# tigrfam_ref_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/tigrfam
# custom_ref_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/
tcdb_ref_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/tcdb
default_ref_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/
ncbi_weight=0.900000
nog_weight=0.800000
pfam_weight=0.900000
# tigrfam_weight=0.500000
