kofam_hmm_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/hmm/kofam_mantis
ncbi_hmm_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/hmm/NCBI
nog_hmm_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/hmm/eggnog_mantis/NOGT
pfam_hmm_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/hmm/pfam
tigrfam_hmm_folder=/mnt/esb-storage-01/NOMIS/databases/mantis/hmm/tigrfam
ncbi_weight=0.900000
nog_weight=0.800000
pfam_weight=0.900000
tigrfam_weight=0.500000
